[submodule ".tmux.conf"]
	path = .tmux.conf
	url = http://github.com/elvisoliveira/.tmux.conf
[submodule ".vimrc"]
	path = .vimrc
	url = http://github.com/elvisoliveira/.vimrc.git
[submodule "config.fish"]
	path = config.fish
	url = http://github.com/elvisoliveira/config.fish
