[submodule ".env/.vimrc"]
	path = .env/.vimrc
	url = https://github.com/elvisoliveira/.vimrc.git
[submodule ".env/.tmux.conf"]
	path = .env/.tmux.conf
	url = https://github.com/elvisoliveira/tmux.conf.git
[submodule ".env/config.fish"]
	path = .env/config.fish
	url = https://github.com/elvisoliveira/config.fish.git
