URxvt*imLocale: en_US.UTF-8
URxvt*termName: rxvt-unicode-256color
URxvt*buffered: false
URxvt.intensityStyles: false
URxvt.font: xft:Mononoki Nerd Font:size=12, \
            xft:FontAwesome:size=12, \
            xft:Monospace:style=Medium:size=12
URxvt.saveLines: 2000
URxvt.scrollBar: false

urxvt*transparent: true
urxvt*shading: 30
