*
!.gitignore
!user-dirs.dirs
!mimeapps.list
!pavucontrol.ini


!wezterm/
!wezterm/*

!kanshi/
!kanshi/*

!fish/
!fish/*

!sway/
!sway/*

!xkb/
!xkb/symbols/
!xkb/symbols/*

!fontconfig
!fontconfig/*


!dunst/
!dunst/*


!neofetch/
!neofetch/*

!rofi/
!rofi/*

!rofi/scripts/
!rofi/scripts/*

!nvim
!nvim/*

!gtk-3.0
!gtk-3.0/*

!zathura
!zathura/*


!Thunar
!Thunar/*

!mpv
!mpv/*

!flameshot
!flameshot/*

!qt5ct
!qt5ct/*

!conky
!conky/*

!weylus

!zathura
!zathura/*

# editor / tools (hand-edited files only; caches stay local)
!Code/
!Code/User/
!Code/User/settings.json
!Code/User/keybindings.json
!htop/
!htop/htoprc
!git/
!git/ignore

# sway session pieces outside .config/sway
!xdg-desktop-portal/
!xdg-desktop-portal/*
!systemd/
!systemd/user/
!systemd/user/chbg.*

# appman: install dir + list of managed AppImages (regenerate with the command in sway/PACKAGES.md)
!appman/
!appman/*
