*
!.gitignore
!user-dirs.dirs

!alacritty/
!alacritty/*

!fish/
!fish/*

!fontconfig
!fontconfig/*

!i3/
!i3/*

!i3blocks/
!i3blocks/*

!qutebrowser/
!qutebrowser/*

!neofetch/
!neofetch/*

!rofi/
!rofi/*

!rofi/scripts/
!rofi/scripts/*

!nvim
!nvim/*

!gtk-3.0
!gtk-3.0/*

!zathura
!zathura/*

!ranger
!ranger/*

!pcmanfm-qt
!pcmanfm-qt/*

!mpv
!mpv/*

!flameshot
!flameshot/*

!qt5ct
!qt5ct/*

!mimeapps.list
