*
!.gitignore
!user-dirs.dirs
!mimeapps.list
!pavucontrol.ini


!wezterm/
!wezterm/*

!kanshi/
!kanshi/*

!fish/
!fish/*

!sway/
!sway/*

!xkb/
!xkb/symbols/
!xkb/symbols/*

!fontconfig
!fontconfig/*


!dunst/
!dunst/*


!neofetch/
!neofetch/*

!rofi/
!rofi/*

!rofi/scripts/
!rofi/scripts/*

!nvim
!nvim/*

!gtk-3.0
!gtk-3.0/*

!zathura
!zathura/*

!ranger
!ranger/*

!Thunar
!Thunar/*

!mpv
!mpv/*

!flameshot
!flameshot/*

!qt5ct
!qt5ct/*

!conky
!conky/*

!weylus
!weylus/*

!zathura
!zathura/*
# GIMP 3.2: versionar só as configs editáveis (tema/ícones/atalhos),
# não o estado/cache (sessionrc, dockrc, pluginrc, tags.xml, devicerc...).
!GIMP/
!GIMP/3.2/
!GIMP/3.2/gimprc
!GIMP/3.2/shortcutsrc

# editor / tools (hand-edited files only; caches stay local)
!Code - OSS/
!Code - OSS/User/
!Code - OSS/User/settings.json
!Code - OSS/User/keybindings.json
!htop/
!htop/htoprc
!btop/
!btop/btop.conf
!lazygit/
!lazygit/*
!git/
!git/ignore

# sway session pieces outside .config/sway
!xdg-desktop-portal/
!xdg-desktop-portal/*
!systemd/
!systemd/user/
!systemd/user/chbg.*
